/*maps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 30%;
  background-color: rgb(251, 229, 238);
}
header .navbar {
  background-color: rgb(251, 229, 238);
  color: black;
  font-size: 1.5rem;
}
header .navbar .logo {
  width: 180px;
}
header .navbar .nav-link {
  font-size: 1.5rem;
  font-family: "Martel", serif;
  font-weight: 500;
}

/*mediaqueries del header*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .header {
    background-color: 0;
    height: 40%;
  }
  .header .navbar {
    background-color: rgb(251, 229, 238);
    color: black;
    font-size: 1rem;
  }
  .header .navbar .logo {
    width: 200px;
  }
  .header .nav-link {
    font-size: 1rem;
    font-family: "Martel", serif;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    background-color: rgb(251, 229, 238);
    height: 30%;
  }
  .header .navbar {
    background-color: rgb(251, 229, 238);
    color: black;
    font-size: 1.5rem;
  }
  .header .navbar .logo {
    width: 200px;
  }
  .header .navbar .nav-link {
    font-size: 1.5rem;
    font-family: "Martel", serif;
  }
}
Main {
  background-color: rgb(251, 229, 238);
}
Main .tituloPrincipal {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(149, 34, 92);
  color: white;
}
Main .tituloPrincipal .contenedorH1 {
  width: 0 auto;
  padding-top: 30px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Martel", serif;
}
Main .fondoMain {
  /*
  .fotoIndex{
  background-image: url;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100vh ;
  margin-bottom: 8rem;
  }*/
}
Main .fondoMain .textoIndex {
  text-align: center;
  font-size: 1rem;
  font-family: "Martel", serif;
  height: 50vh;
  width: 100vh;
  color: black;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
Main .tarjetas {
  margin-bottom: 4rem;
}
Main .tarjetas .card-group {
  column-gap: 15px;
}
Main .tarjetas .card-group .card {
  background-color: rgb(220, 181, 193);
  border: 1px solid rgb(192, 121, 157);
}
Main .tarjetas .card-group .card .card-title {
  text-align: center;
  font-family: "Martel", serif;
  color: rgb(149, 34, 92);
}

@media screen and (max-width: 768px) {
  Main {
    background-color: rgb(251, 229, 238);
  }
  Main .tituloPrincipal {
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: white;
  }
  Main .tituloPrincipal .contenedorH1 {
    width: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: "Martel", serif;
  }
}
Main {
  background-color: rgb(251, 229, 238);
}
Main .tituloPrincipal {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(149, 34, 92);
  color: white;
}
Main .tituloPrincipal .contenedorH1 {
  width: 0 auto;
  padding-top: 30px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Martel", serif;
}
Main .contenedorSer {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
Main .accordion-button {
  background-color: rgb(149, 34, 92);
  border: 1px solid black;
  color: rgb(237, 223, 223);
  font-size: 1.5rem;
  font-family: "Martel", serif;
}
Main .accordion-body {
  background-color: rgb(244, 194, 213);
  color: rgb(0, 0, 0);
  border: 1px black solid;
}
Main .contenedorImg {
  width: 100%;
  display: flex;
  justify-content: center;
}
Main .contenedorImg .imgSer {
  width: 40%;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  Main {
    background-color: rgb(251, 229, 238);
  }
  Main .tituloPrincipal {
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: white;
  }
  Main .tituloPrincipal .contenedorH1 {
    width: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: "Martel", serif;
  }
  Main .contenedorSer {
    width: 700px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: left;
  }
  Main .accordion-button {
    background-color: rgb(149, 34, 92);
    border: 1px solid black;
    color: rgb(237, 223, 223);
    font-size: 1.5rem;
    font-family: "Martel", serif;
  }
  Main .accordion-body {
    background-color: rgb(244, 194, 213);
    color: rgb(0, 0, 0);
    border: 1px black solid;
  }
  Main .contenedorImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  Main .contenedorImg .imgSer {
    width: 100%;
  }
}
main {
  background-color: rgb(251, 229, 238);
}
main .tituloPrincipal {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(149, 34, 92);
  color: white;
}
main .tituloPrincipal .contenedorH1 {
  width: 0 auto;
  padding-top: 30px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Martel", serif;
}
main .row {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .row .izquierda, main .row .izquierda4, main .row .izquierda3, main .row .izquierda2 {
  background-image: url(../assets/img/tratam4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 80vh;
  margin-top: 30px;
}
main .row .derecha, main .row .derecha4, main .row .derecha3, main .row .derecha2 {
  height: 60vh;
  width: 80vh;
  background-color: rgb(220, 181, 193);
  color: rgb(149, 34, 92);
  border: 1px solid rgb(149, 34, 92);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .row .izquierda2 {
  background-image: url(../assets/img/promo3.jpeg);
}
main .row .izquierda3 {
  background-image: url(../assets/img/promo4.jpeg);
}
main .row .izquierda4 {
  background-image: url(../assets/img/promo5.jpeg);
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  main {
    background-color: rgb(251, 229, 238);
  }
  main .tituloPrincipal {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: rgb(96, 20, 20);
  }
  main .tituloPrincipal .contenedorH1 {
    width: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: "Martel", serif;
  }
  main .row {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main .row .izquierda, main .row .izquierda2, main .row .izquierda3, main .row .izquierda4 {
    background-image: url(../assets/img/tratam4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;
    margin-top: 30px;
  }
  main .row .derecha, main .row .derecha2, main .row .derecha3, main .row .derecha4 {
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
  }
  main .row .izquierda2 {
    background-image: url(../assets/img/promo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;
    margin-top: 30px;
  }
  main .row .derecha2 {
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
    margin-top: 30px;
  }
  main .row .izquierda3 {
    background-image: url(../assets/img/promo4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;
    margin-top: 30px;
  }
  main .row .derecha3 {
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
  }
  main .row .izquierda4 {
    background-image: url(../assets/img/promo5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 90vh;
    margin-top: 30px;
  }
  main .row .derecha4 {
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
  }
}
Main {
  background-color: rgb(251, 229, 238);
}
Main .tituloPrincipal {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(149, 34, 92);
  color: white;
}
Main .tituloPrincipal .contenedorH1 {
  width: 0 auto;
  padding-top: 30px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Martel", serif;
}
Main .contenedorGaleria {
  background-color: rgb(251, 229, 238);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
Main .contenedorGaleria .fotosCata {
  background-color: rgb(253, 253, 253);
  /* border: 1px solid rgb(149, 34, 92);*/
  text-align: center;
  padding: 10px;
}
Main .contenedorGaleria .fotosCata img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .tituloPrincipal {
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: white;
  }
  .contenedorGaleria {
    background-color: rgb(253, 253, 253);
  }
  .contenedorGaleria .fotosCata {
    background-color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px;
  }
  .contenedorGaleria .fotosCata img {
    display: block;
    width: 100%;
  }
}
Main {
  background-color: rgb(251, 229, 238);
}
Main .tituloPrincipal {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(149, 34, 92);
  color: white;
}
Main .tituloPrincipal .contenedorH1 {
  width: 0 auto;
  padding-top: 30px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Martel", serif;
}
Main .padreContacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
Main .formulario {
  display: inline-block;
  margin-bottom: 2rem;
}
Main .formulario .btn {
  background-color: rgb(252, 183, 215);
  color: rgb(149, 34, 92);
  border: black;
}
Main .mapa {
  display: inline-block;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  Main {
    background-color: rgb(251, 229, 238);
  }
  Main .tituloPrincipal {
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: white;
  }
  Main .tituloPrincipal .contenedorH1 {
    width: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: "Martel", serif;
  }
  Main .padreContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }
  Main .formulario {
    display: inline-block;
    margin-bottom: 2rem;
  }
  Main .formulario .btn {
    background-color: rgb(252, 183, 215);
    color: rgb(149, 34, 92);
  }
}
footer {
  height: 30vh;
  background-color: rgb(149, 34, 92);
  text-align: center;
}
footer .parrafoFooter {
  font-size: 1rem;
  color: rgb(251, 229, 238);
  position: relative;
  bottom: -60px;
  text-align: center;
  font-family: "Martel", serif;
}
footer .icon {
  color: rgb(240, 199, 216);
  font-size: 30px;
  position: relative;
  bottom: -65px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 30vh;
    background-color: rgb(149, 34, 92);
    text-align: center;
  }
  footer .parrafoFooter {
    font-size: 1rem;
    color: rgb(251, 229, 238);
    position: relative;
    bottom: -60px;
    text-align: center;
    font-family: "Martel", serif;
  }
  footer .icon {
    color: rgb(240, 199, 216);
    font-size: 25px;
    position: relative;
    bottom: -65px;
  }
}

/*# sourceMappingURL=estilos.css.map */
