/*import de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Martel', serif;
    font-family: 'Palanquin', sans-serif;
    font-family: 'Raleway', sans-serif;
    /*background-image: radial-gradient(circle, #640231, #740b3b, #831546, #941d51, #a4265d, #a0255a, #9c2556, #982453, #7e1b41, #661231, #4e0a22, #370414);*/
    color: rgb(203, 161, 216);
}
.header{
    height: 30vh;
    /*background-image: url(../assets/img/Diseño\ sin\ título.png);*/
    background-color: rgb(251, 229, 238);
    
    color: rgb(251, 250, 250);
}
/*links anclas de navegacion*/
.navbar{
    background-color: rgb(251, 229, 238);
    color: black;
}


.nav-link{
    font-size: 1.5rem;
    /*background-color: rgb(220, 181, 193);*/
    font-family: 'Martel', serif;
    font-weight: 500;
    }
    

/*estilados del titulo principal del index*/
.tituloPrincipal{
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);


}
.contenedorH1{
    width: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgb(255, 254, 254);
    text-align: center;
    font-family: 'Martel', serif;

}

/*estilados del main del index*/
.fondoMain{
    background-color:rgb(149, 34, 92);
}
.main{
    background-color: rgb(251, 229, 238);
    color: rgb(1, 1, 1);
}

.fotoIndex{
    background-image: url(../assets/img/principl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100vh ;
    margin-bottom: 5rem;
}
.textoIndex{
    text-align: center;
    font-family: 'Martel', serif;
}
    
.textoIndex{
    height: 60vh;
    width: 100vh;
    background-color: rgb(149, 34, 92);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

}

.contenedor{
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;

}

.imagen{
    width: 30%;
    background-color: rgb(220, 181, 193);
    padding: 10px;
    border: 1px solid rgb(221, 159, 170);
    text-align: center;
    margin: 30px;
    }

h3{
    text-align: center;
    }
/*estilados de las cards*/
.tarjetas{
    margin-bottom: 4rem;
}

.card-group{
    column-gap: 15px;
}

.card{
    background-color:rgb(220, 181, 193) ;
    border: 1px solid rgb(192, 121, 157);
}

.card-title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(149, 34, 92) ;
}
.card-text{
    text-align:center;
}

/*estilados de la pagina promociones*/
.row{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.izquierda{
    background-image: url(../assets/img/tratam4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;
}

.derecha{
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);

}
.izquierda2{
    background-image: url(../assets/img/promo3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;

}
.derecha2{
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
}
.izquierda3{
    background-image: url(../assets/img/promo4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;

}
.derecha3{
    height: 60vh;
    width: 80vh;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
}
.izquierda4{
    background-image: url(../assets/img/promo5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vh;
}
.derecha4{
    height: 60vh;
    width: 80vh;;
    background-color: rgb(220, 181, 193);
    color: rgb(149, 34, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(149, 34, 92);
}



/*estilados de la galeria de la seccion catalogo*/
.tituloContenedor{
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(149, 34, 92);
    color: wheat;
}

.contenedorGaleria{
    background-color: rgb(251, 229, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fotosCata{
    width: 30%;
    background-color: rgb(253, 253, 253);
    /* border: 1px solid rgb(149, 34, 92);*/
    text-align: center;
    padding: 10px;
}
.fotosCata img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/*estilados del footer*/

.footer{
    height: 30vh;
    background-color:rgb(149, 34, 92);
    text-align: center;
}

.footer p{
    font-size: 1rem;
    color: rgb(251, 229, 238);
    position: relative;
    bottom: -60px;
    text-align: center;
}

.icon{
    color: rgb(251, 229, 238);
    font-size: 20px;
    position: relative;
    bottom: -65px;
}

/*estilado del main de la pagina servicios*/
.contenedorServicios{
    background-color: rgb(251, 229, 238);
    color: rgb(149, 34, 92);
}
.tituloServicios{
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
}
/*estilados del formulario de la pagina de contacto*/
.padreContacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formulario{
    display: inline-block;
    margin-bottom: 2rem;
}

.mapa{
    display: inline-block;
    justify-content: center;
    margin-top: 40px;
}


/*media queries*/
