header{
    height:30%;
    background-color:$colorDeFondo;
    .navbar{
    background-color: rgb(251, 229, 238);
    color: black; 
    font-size: 1.5rem;
        .logo{
        width: 180px;
    }
    .nav-link{
        font-size: 1.5rem;
        font-family: 'Martel', serif;
        font-weight: 500;
    }
    }
}

/*mediaqueries del header*/
@media screen and (min-width: 0px) and (max-width:768px) {
    .header{
        background-color: red($color: #000000);
        height: 30%;
        .navbar{
            background-color: $colorDeFondo;
            color: black;
            font-size: 1rem;
            .logo{
                width: 200px;
            }
        }
        .nav-link{
            font-size: 1rem;
            font-family: 'Martel', serif;
    }
}
}

@media screen and (min-width: 1025px){
    .header{
        background-color: $colorDeFondo;
        height: 30%;
        .navbar{
            background-color: $colorDeFondo;
            color: black;
            font-size: 1.5rem;
            .logo{
                width: 200px;
            }
        .nav-link{
            font-size: 1.5rem;
            font-family: 'Martel', serif;
        }
        }
}
}

