.mainContacto{
    background-color: $colorDeFondo;
    .tituloPrincipal{
    width: $ancho;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color:$colorPrincipal;
    color: white;
        .contenedorH1{
        width: 0 auto;
        padding-top: 30px;
        font-size: 2rem;
        color: rgb(255, 254, 254);
        text-align: center;
        font-family: $fuentePrincipal;
    }
    }
    .padreContacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .formulario{
        display: inline-block;
        margin-bottom: 2rem;
        .btn{
            background-color: rgb(252, 183, 215);
            color: $colorPrincipal;
            border: black;
            
        }
    }
    .mapa{
        display: inline-block;
        justify-content: center;
        margin-top: 40px;
    }
}


@media screen and (min-width: 320px) and (max-width:768px) {
    .mapa{
        display: inline-block;
        justify-content: center;
        margin-top: 40px;
    }
    
}



@media screen and (max-width: 768px){
    Main{
        background-color: $colorDeFondo;
        .tituloPrincipal{
        width: $ancho;
        height: 25vh;
        margin: 0 auto;
        text-align: center;
        background-color:$colorPrincipal;
        color: white;
            .contenedorH1{
            width: 0 auto;
            padding-top: 30px;
            font-size: 2rem;
            color: rgb(255, 254, 254);
            text-align: center;
            font-family: $fuentePrincipal;
            }
        }
        .padreContacto{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px;
        }
        .formulario{
            display: inline-block;
            margin-bottom: 2rem;
            .btn{
                background-color: rgb(252, 183, 215);
                color: $colorPrincipal;
            }
        }
        .mapa{
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
    }

}