Main{
    background-color: $colorDeFondo;
    .tituloPrincipal{
    width: $ancho;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color:$colorPrincipal;
    color: white;
        .contenedorH1{
        width: 0 auto;
        padding-top: 30px;
        font-size: 2rem;
        color: rgb(255, 254, 254);
        text-align: center;
        font-family: $fuentePrincipal;
    }
    }
    .fondoMain{
        
        .textoIndex{
        text-align: center;
        font-size: 1rem;
        font-family: $fuentePrincipal;
        height: 50vh;
        width: 100vh;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        }
        /*
        .fotoIndex{
        background-image: url;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 100vh ;
        margin-bottom: 8rem;
        }*/
    }
    .tarjetas{
        margin-bottom: 4rem;

        .card-group{
            column-gap: 15px;
            .card{
            background-color:rgb(220, 181, 193) ;
            border: 1px solid rgb(192, 121, 157);
                .card-title{
                text-align: center;
                font-family: $fuentePrincipal;
                color:$colorPrincipal;
                }
            }
            }
        }
    }

@media screen and (max-width: 768px){
        Main{
            background-color: $colorDeFondo;
            .tituloPrincipal{
            width: $ancho;
            height: 25vh;
            margin: 0 auto;
            text-align: center;
            background-color:$colorPrincipal;
            color: white;
                .contenedorH1{
                width: 0 auto;
                padding-top: 30px;
                font-size: 2rem;
                color: rgb(255, 254, 254);
                text-align: center;
                font-family: $fuentePrincipal;
                }
            }
    }
}