main{
    background-color: $colorDeFondo;
    .tituloPrincipal{
    width: $ancho;
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    background-color:$colorPrincipal;
    color: white;
        .contenedorH1{
        width: 0 auto;
        padding-top: 30px;
        font-size: 2rem;
        color: rgb(255, 254, 254);
        text-align: center;
        font-family: $fuentePrincipal;
    }
    }
    .row{
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        .izquierda{
            background-image: url(../assets/img/tratam4.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
            width: 80vh;
        }
        .derecha{
            height: 60vh;
            width: 80vh;
            background-color: rgb(220, 181, 193);
            color: rgb(149, 34, 92);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:map-get($map: $bordes, $key: border-principal );
        }
        .izquierda2{
            background-image: url(../assets/img/promo3.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
            width: 80vh;
            margin-top: 30px;
        }
        .derecha2{
            height: 60vh;
            width: 80vh;
            background-color: rgb(220, 181, 193);
            color: rgb(149, 34, 92);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:map-get($map: $bordes, $key: border-principal );
            margin-top: 30px;
        }
        .izquierda3{
            background-image: url(../assets/img/promo4.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
            width: 80vh;
        }
        .derecha3{
            height: 60vh;
            width: 80vh;
            background-color: rgb(220, 181, 193);
            color: rgb(149, 34, 92);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:map-get($map: $bordes, $key: border-principal );
        }
        .izquierda4{
            background-image: url(../assets/img/promo5.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 60vh;
            width: 80vh;
        }
        .derecha4{
            height: 60vh;
            width: 80vh;;
            background-color: rgb(220, 181, 193);
            color: rgb(149, 34, 92);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border:map-get($map: $bordes, $key: border-principal );
        }
    }
    
}

@media screen and (min-width: 0px) and (max-width:768px) {
    main{
        background-color: $colorDeFondo;
        .tituloPrincipal{
        width: $ancho;
        margin: 0 auto;
        text-align: center;
        background-color:$colorPrincipal;
        color: rgb(96, 20, 20);
            .contenedorH1{
            width: 0 auto;
            padding-top: 30px;
            font-size: 2rem;
            color: rgb(255, 254, 254);
            text-align: center;
            font-family: $fuentePrincipal;
        }
        }
        .row{
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
            .izquierda{
                background-image: url(../assets/img/tratam4.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;
                width: 80vh;
            }
            .derecha{
                height: 60vh;
                width: 80vh;
                background-color: rgb(220, 181, 193);
                color: rgb(149, 34, 92);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border:map-get($map: $bordes, $key: border-principal );
            }
            .izquierda2{
                background-image: url(../assets/img/promo3.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;
                width: 80vh;
                margin-top: 30px;
            }
            .derecha2{
                height: 60vh;
                width: 80vh;
                background-color: rgb(220, 181, 193);
                color: rgb(149, 34, 92);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border:map-get($map: $bordes, $key: border-principal );
                margin-top: 30px;
            }
            .izquierda3{
                background-image: url(../assets/img/promo4.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;
                width: 80vh;
                margin-top: 30px;
            }
            .derecha3{
                height: 60vh;
                width: 80vh;
                background-color: rgb(220, 181, 193);
                color: rgb(149, 34, 92);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border:map-get($map: $bordes, $key: border-principal );
            }
            .izquierda4{
                background-image: url(../assets/img/promo5.jpeg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 60vh;
                width: 90vh;
                margin-top: 30px;
            }
            .derecha4{
                height: 60vh;
                width: 80vh;
                background-color: rgb(220, 181, 193);
                color: rgb(149, 34, 92);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border:map-get($map: $bordes, $key: border-principal );
            }
        }
    }

}