$tipografiaTextos: 'Times New Roman', Times, serif;
$tamanoTextos: 30px;
$colorPrincipal:  rgb(149, 34, 92);
$colorDeFondo: rgb(251, 229, 238);
$ancho: 100%;
$fuentePrincipal:'Martel', serif;
$flex: flex;
$center: center;
$row: row;
$space-around: space-around; 


/*maps*/
$bordes : (
    border-principal: 1px solid  rgb(149, 34, 92),
    border-solid-dospixel: 2px solid  rgb(149, 34, 92),
)